.naveg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}

.menuNavBar {
    text-decoration: none;
    color: #141417;
    padding: 0 10px;
}
