.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.titulos {
  font-size: 50px;
  font-weight: bolder;
}

.carritoTitle {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 0;
  background-color: #141417;
  color: #e7e7e7;
}

.carritoText {
  font-size: 20px;
  font-weight: bold;
}

.carritoLine {
  border: solid 1px #141417;
}

.cartWidg {
  font-size: 25px;
  font-weight: bolder;
}

.botCart {
  margin: 5px;
}

.cardItem {
  color: #141417;
  padding: 10px;
}

.cardItemDetail {
  color: #141417;
  padding: 10px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.cardItemIMG {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.itemList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin: 0 100px;
}

.precioItem {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.botDetalle {
  margin-top: 5px;
}

.cartIMG {
  width: 200px;

}
